/* main.css */

/* Style for the header container */
.header {
    background-color: #7a08af;
    padding: 20px;
    display: flex;
    justify-content: space-between;
  }
  
  /* Style for the banner container */
  .banner-container {
    text-align: center;
    margin-bottom: 10px;
    order: 2; /* Move the banner container to the right */
  }
  
  /* Style for the logo */
  #logo {
    width: 80px;
    height: auto;
    order: 1; /* Move the logo to the left */
  }
  
  /* Style for the navigation links */
  .navigation-links {
    display: flex;
    justify-content: flex-end; /* Align navigation links to the right */
    margin-top: 20px;
    order: 3; /* Move the navigation links to the right */
  }
  
  /* Style for the navigation buttons */
  .navigation-links button {
    background-color: #0b3563;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px; /* Add some space between buttons */
  }
  
  /* Hover effect for the navigation buttons */
  .navigation-links button:hover {
    background-color: #0056b3;
  }
